.profile {
  display: flex;

  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  /* padding: 20px 664px; */
}

.description {
  display: flex;
  flex-direction: column;

  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 515px;
  border-radius: 6px 6px 0 0;

  background-color: #f0dcc3;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: #bdb7b7;
}

.name {
  font-weight: 700;
}

.tag,
.location,
.stats {
  margin: 0;
}

.stats {
  display: flex;
  justify-content: center;

  padding-left: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  border: solid 2px grey;

  padding: 0 30px;
  background-color: #92d0e9;
}

.label {
  margin-bottom: 10px;
}

.quantity {
  font-size: 50px;
}