.transactionHistory {
  width: 80%;
  margin: 50px 0;
  padding: 30px;
  border: 1px solid rgb(215, 221, 226);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

table {
  table-layout: fixed;
  width: 80%;
  max-width: 900px;
  border-spacing: 1px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  margin: 100px auto 0 auto;
}

.tableHead {
  background-color: #0398dc;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  color: white;
  height: 50px;
  font-size: 18px;
}

.tType,
.tAmount,
.tCurrency {
  text-align: center;
}

.tableColumn {
  text-align: center;
  color: #494949;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px;
  border: 1px solid rgb(215, 221, 226);
}

.tableRow:nth-child(even) {
  background-color: rgb(215, 221, 226);
}